<div id="<%= dom_id profile %>">

  <div class= "avatar">
    <% if current_user.profile.avatar.attached? %>
			<%= image_tag profile.avatar, class: "w-fit h-fit"%>
		<% else %>
			<%= image_tag("profile-default", class: "w-fit h-fit") %>
		<% end %>
  </div>

  <p class="my-5">
    <strong class="block font-medium mb-1">Username:</strong>
    <%= profile.username %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this profile", profile, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this profile', edit_profile_path(profile), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
